[submodule "Plugins/portal32playermod_plugin"]
	path = Plugins/portal32playermod_plugin
	url = https://gitlab.com/KonradCzerw/portal32playermod_plugin
[submodule "Plugins/portal32playermod_plugin_win"]
	path = Plugins/portal32playermod_plugin_win
	url = https://gitlab.com/KonradCzerw/portal32playermod_plugin_win
